.link-unstyled {
	&,
	&:visited,
	&:hover,
	&:active,
	&:focus,
	&:active:hover {
	  font-style: inherit;
	  color: inherit;
	  background-color: transparent;
	  font-size: inherit;
	  text-decoration: none;
	  font-variant: inherit;
	  font-weight: inherit;
	  line-height: inherit;
	  font-family: inherit;
	  border-radius: inherit;
	  border: inherit;
	  outline: inherit;
	  box-shadow: inherit;
	  padding: inherit;
	  vertical-align: inherit;
	}
}
